# Ignore everything
*

!/ConsoleTaskManager/
!/ConsoleTaskManager/Program.cs
!/ConsoleTaskManager/Program.meth.cs
!/ConsoleTaskManager/SectionAndTasks.cs
!/ConsoleTaskManager/ConsoleTaskManager.csproj
# !/ConsoleTaskManager/DataBase.json
!ConsoleTaskManager.sln
!.gitignore